---
import DATA from './reviewsData.json';
import SectionHeader from '@components/global/SectionHeader.astro';
import { Img } from '@components/global/Img';
import { Icon } from '@components/global/Icon';
---

<div class="section-gap-64">
  <SectionHeader data={DATA.header} className="container" />

  <div class="overflow-auto">
    <div class="px-32 w-max lg:container">
      <ul class="flex flex-row gap-32 lg:block lg:columns-3">
        {
          DATA.reviews.map(({ yelp, title, paragraph, author, img: { src, alt } }) => (
            <li class="bg-white rounded-16 overflow-hidden flex flex-col flex-shrink-0 w-[384px] lg:w-auto lg:mt-32 lg:first-of-type:mt-0">
              <Img src={src} alt={alt} width={384} height={250} className="w-full" />
              <div class="flex flex-col justify-between gap-16 p-32 h-full">
                <section aria-label={title} class="flex flex-col gap-16">
                  <div class="flex flex-row gap-16 items-center">
                    <Img
                      src={yelp ? DATA.img.yelpSrc : DATA.img.googleSrc}
                      alt={DATA.img.alt}
                      width={32}
                      height={32}
                    />

                    <ul class="flex flex-row gap-8">
                      {[0, 1, 2, 3, 4].map(() => (
                        <li class="flex">
                          <Icon icon="reviews_star" className="text-20 text-sky-500" />
                        </li>
                      ))}
                    </ul>
                  </div>
                  <h3 class="text-ss3-20-bold">&quot;{title}&quot;</h3>
                  <p class="text-ss3-20-regular">{paragraph}</p>
                </section>
                <span class="text-cali-16">- {author}</span>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
